extends layout

block content
  h1= "My travel Bucket List - Changed"
  a(href="wished")/= "Places I'd Like to Visit"
  br/
  a(href="visited")= "Places I've Already Been To"
  p= "Powered by Express"
